html {
  height: 100%;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(60deg, #cb356b 0%, #bd3f32 100%);
  color: white;
}

.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle canvas {
  vertical-align: top;
}

.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle span {
  display: block;
  color: #fff;
  margin-top: 12px;
}

a,
a.visited,
a:hover {
  color: #fff;
}

.game {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 12px;
}

.game a {
  font-weight: 600;
  font-size: 48px;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #f2994a;
}

.scores strong {
  color: #fff;
}

input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #f2994a;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease;
  margin-top: 4px;
}

.send-button {
  width: 100%;
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border: #f2994a; /* Remove border */
  padding: 12px 24px; /* Add padding */
  font-size: 16px; /* Font size */
  border-radius: 24px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth effects */
}

.send-button:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.send-button:active {
  background-color: #3e8e41; /* Even darker green when clicked */
  transform: scale(0.95); /* Slightly shrink on click */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}