html {
  height: 100%;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle canvas {
  vertical-align: top;
}

.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}

a,
a.visited,
a:hover {
  color: #fff;
}

.privacy-alert {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(39, 39, 39, 0.7);
  width: 100%;
  padding: 16px;
}

.privacy-alert a {
  color: rgb(58, 157, 181);
}

.privacy-alert .close {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0040;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  color: #fff;
}
